
body {/* 
  background-image: repeating-conic-gradient(
   red 10%,
    yellow 20%
  ); */
background-color: #687EFF;
}


/* all under kapcontent ligger under */
#kapcontent {
  margin-top: 3rem;
  width: 20%;
  height: 94%;
  float: left;
  position: fixed;
  border-radius: 0.6rem;
}
#kapittel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #ffff;
  padding-top: 0.6rem;
  padding-left: 5rem;
  padding-bottom: 0.6rem;
  border-radius: 0.6rem;
}

/* alt innenfor overview ligger under */
#overview {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  z-index: -1;
  border-radius: 0.6rem;
}

#overview h2 {
  text-align: center;
}
#mb1intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #ffff;
  padding: 2rem 4rem;
  border-radius: 0.6rem;

}
#mb1intro iframe{
  width: 100%;
  height: 25rem;
}
/* neddenfor alt innen kap2 content */
#kap2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  overflow: hidden;
}
.summerert{
width: 40%;
float: left;
}
.bilde{
  width: 60%;
  float: right;
  
}

.dropdown-content {
  display: none;
  padding: 0.2rem 1rem;
  width: 80%;
}


.dropdown-btn {
  margin-top: 1rem;
  background-color: #687EFF;
  color: rgb(255, 255, 255);
  padding: 0.6rem;
  cursor: pointer;
  width: 80%;
  font-size: medium;
  border-radius: 0.6rem;
  border: none;

}
.bilde #imageresize{
  cursor:zoom-in;
}
.bilde p{
  text-align: center;
  font-size: large;
}
/* quiz neddover */
.quiz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;

}
.quiz-btn {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border: solid #687EFF;
  border-radius: 0.6rem;
  background-color: #687EFF;
  color: #ffffff;
  transition: background-color 0.3s ease;
  width: 96%;
  text-align: center;
  cursor: pointer;
}

.final{
  margin: auto;
  width: 40%;
  padding: 1rem;
  transition: background-color 0.5 ease;
  color: #ffffff;

}
.final #results{
  font-size: 3rem;
  text-align: center;
  background-color: #687EFF;
  border-radius: 70rem;

}
.final p{
padding: 0.5rem 1rem;
border-radius: 0.6rem;
}
.final #wrong{
  background-color: red;

}
.final #right{
  background-color: green;
}
.final img{
  width: 100%;
}
.final #failedOrdone{
  background-color: #687EFF;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}
