
body {
  background-image: repeating-conic-gradient(
   red 10%,
    yellow 20%
  );

}

.navbar header{
  width: 100%;
  height: 20rem;
}
.navbar ul{
font-family: var(--font-serif);
overflow-wrap: break-word;
line-height: 1.8;
-webkit-text-size-adjust: 100%;
--font-serif: "IBM Plex Serif", serif;
--font-sans: "IBM Plex Sans", sans-serif;
--font-mono: "IBM Plex Mono", monospace;
--font-main-title: "Phantom Sans", "IBM Plex Serif", serif;
--toc-width: 0px;
font-size: .95em;
box-sizing: border-box;
padding: 3px 0 4px;
margin: 0;
list-style-type: none;
display: flex;
gap: 16px;
align-items: center;
justify-content: center;
}
.navbar li{
  font-family: var(--font-serif);
  overflow-wrap: break-word;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  --font-serif: "IBM Plex Serif", serif;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-main-title: "Phantom Sans", "IBM Plex Serif", serif;
  --toc-width: 0px;
  font-size: .95em;
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  transition: opacity .2s ease-in-out;
  opacity: 0.2;
}
.navbar a{
  font-family: var(--font-serif);
  -webkit-text-size-adjust: 100%;
  list-style-type: none;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 1.4;
  padding: 0.5em 0.4em;
}
.navbar a :hover{
  
}
/* alt under header ligger under */
#header {
  list-style-type: none;
  margin: 0rem;
  padding: 1rem;
  overflow: hidden;
  background-color: #687EFF;
  position: fixed;
  right: 0rem;
  left: 0rem;
  top: 0rem;
}


/* all under kapcontent ligger under */
#kapcontent {
  margin-top: 3rem;
  width: 20%;
  height: 94%;
  float: left;
  position: fixed;
  border-radius: 0.6rem;
}
#kapittel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #ffff;
  padding-top: 0.6rem;
  padding-left: 5rem;
  padding-bottom: 0.6rem;
  border-radius: 0.6rem;
}

/* alt innenfor overview ligger under */
#overview {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  z-index: -1;
  border-radius: 0.6rem;
}

#overview h2 {
  text-align: center;
}
#mb1intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #ffff;
  padding: 2rem 4rem;
  border-radius: 0.6rem;

}
#mb1intro video{
  width: 100%;
}
#kap2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
}
#quiz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;

}