
body {/* 
  background-image: repeating-conic-gradient(
   red 10%,
    yellow 20%
  ); */
background-color: #687EFF;
}


/* all under kapcontent ligger under */
#kapcontent {
  margin-top: 3rem;
  width: 20%;
  height: 94%;
  float: left;
  position: fixed;
  border-radius: 0.6rem;
}
#kapittel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #ffff;
  padding-top: 0.6rem;
  padding-left: 5rem;
  padding-bottom: 0.6rem;
  border-radius: 0.6rem;
}

/* alt innenfor overview ligger under */
#overview {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  z-index: -1;
  border-radius: 0.6rem;
}

#overview h2 {
  text-align: center;
}
#mb1intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #ffff;
  padding: 2rem 4rem;
  border-radius: 0.6rem;

}
#mb1intro iframe{
  width: 100%;
  height: 30rem;
}
/* neddenfor alt innen kap2 content */
#kap2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
}

.dropdown-content {
  display: none;
  padding: 0.2rem 1rem;
}


.dropdown-btn {
  margin-top: 1rem;
  background-color: #e6e2e2;
  color: black;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: left;
  font-size: medium;
  white-space: pre;
  border-radius: 0.6rem;
}
.dropdown-btn :hover{
  background-color: #b8b8b8;
}

/* quiz neddover */
#quiz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 3rem;
  background-color: #ffff;
  padding: 1rem 4rem;
  border-radius: 0.6rem;

}